@import 'variable-mixin';

.service-v1-main{
    .sectors{
        padding-top: 120px;
        >.sector-inside{
            padding-bottom: 136px;
            >header{
                >h1{
                    font-weight: 700;
                    font-size: 46px;
                    line-height: 60px;
                    color: $fontColor;
                }
            }
            .access{
                margin-top: 40px;
                margin-bottom: 60px;
                >ul{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 0;
                    >li{
                        list-style: none;
                        >a{
                            text-decoration: none;
                            color: #9A9CA5;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 26px;
                            border: 1px solid transparent;
                            padding: 10px 20px;
                        }
                    }
                    >li:hover{
                        >a{
                            color: #FF5A30;
                            border: 1px solid #FF5A30;
                            border-radius: 4px;                            
                        }
                    }
                }
            }
            .content{
                >img{
                    width: 100%;
                }
            }
        }
        >:nth-child(2){
            position: relative;
            .sector-card{
                width: 544px;
                padding: 40 48;
                background: #FFFFFF;
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
                border-radius: 4px;
                position: absolute;
                bottom: 0;
                right: -50px;
                >header{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1.5em;
                    >img{
                        align-self: flex-start;
                    }
                    >h3{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        max-width: 389px;
                        color: $fontColor;
                    }
                }
                >div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >article{
                        max-width: 251px;
                        margin-left: 20px;
                        >b{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 26px;
                            color: $fontColor;
                            margin-bottom: 4px;
                        }
                        >p{
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: #787A80;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    .service-v1-main{
        .sectors{
            padding-top: 60px;
            .sector-inside{
                padding-bottom: 60;
                .access{
                    >ul{
                        flex-direction: column;
                        align-items: center;
                        >li{
                            >a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            >:nth-child(2){
                .sector-card{
                    position: static;
                    width: 100%;
                    >header{
                        >img{
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .service-v1-main{
        .sectors{
            .sector-inside{
                .access{
                    >ul{
                        >li{
                            >a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            >:nth-child(2){
                .sector-card{
                    max-width: 390px;
                    >header{
                        >img{
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
    }
}